baseGameStuff/
.idea
findAdjacentProvinces/adjacencies.txt
findAdjacentProvinces/map/
**/*.pickle
**/*.log
**/*.iml
.gradle/
gradle/
gradlew
gradlew.bat
build/
randomizer.jar
mod/common/
mod/history/
randomizer/src/main/kotlin/com/runt9/eu4/randomizer/Eu4ConfigParser.kt
